/* ----------------------------------------------------------
   HEADER (Used on ALL Pages)
---------------------------------------------------------- */
.header {
    background: #ffffff;
    padding: 15px 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}